:root {
    --bg_color: black;
    --title_color: red;
    --text_color: #18d4af;
    --hyper_color: #B7992A;
    --active_button_color: red;
    --active_button_bg_color: #555;
}

div.a h1 {
    text-align: center;
    color: var(--title_color);
}

body {
    background-color: var(--bg_color);
    color: var(--hyper_color);
    line-height: 1;
    margin: 0px;
    margin-left: 15px;
}

a {
    color: var(--hyper_color);
}
h1 {
    color: var(--text_color);
    margin: 10px
}
p {
    color: var(--text_color);
    margin: 0px
}
ol {
    color: var(--text_color);
    margin: 0px
}
ul {
    color: var(--text_color);
    margin: 0px
}
button {
    cursor: pointer;
    text-align: left;
    background-color: var(--active_button_bg_color);
    color: var(--text_color);
}
img {
    width: "1000";
    height: "600"
}

div.btn_group p {
    display: block;
}
div.btn_group button {
    cursor: pointer;
    display: block;
}
div.btn_group video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
div.btn_group iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
div.btn_group img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

button.expandable:hover {
    background-color: var(--active_button_bg_color);
    color: var(--active_button_color)
}

.plus:before {
    content: '\2B9A';
}
.minus:before {
    content: '\2B9B';
}

.hidden {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-out;
}

.nested {
    list-style-type: lower-alpha;
}

.tab { 
    display:inline-block; 
    margin-left: 40px; 
}
